version: '3.8'

networks:
  main:
  logs:
    external: true

services:
  backend:
    build: ./backend/.
    depends_on:
      - postgres
    ports:
      - "127.0.0.1:3501:3001"
    environment:
      - PathBase=/api
      - ASPNETCORE_ENVIRONMENT
      - ASPNETCORE_URLS=http://+:3001
      - Database__Database=mutualify
      - Database__Host=postgres
      - Database__Port=5432
      - Database__Username=postgres
      - Database__Password=postgres
      - osuApi__ClientId
      - osuApi__ClientSecret
      - osuApi__CallbackUrl=/oauth/callback
    volumes:
      - ./logs/backend:/app/logs
      - ./keys:/root/.aspnet/DataProtection-Keys
    networks:
      - main
      - logs

  frontend:
    build:
      context: ./frontend/.
      args:
        - NEXT_PUBLIC_API_ADDRESS=${NEXT_PUBLIC_API_ADDRESS}
    ports:
      - "127.0.0.1:3500:3000"
    environment:
      - NEXT_PUBLIC_API_ADDRESS
    volumes:
      - ./logs/frontend:/app/logs
    networks:
      - main

  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=mutualify
      - PGDATA=/data/postgres
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - ./db:/data/postgres
    networks:
      - main
